<div class="block-center">
    <div class="max-conteiner">
        <div class="form-container">
            <h2 class="form-title">Мы поможем вам достичь ваших целей!</h2>
            <div class="form-div">Оставьте заявку на консультацию</div>
            <form class="consult-form">
                <label class="consult-label" for="name">Имя:</label>
                <input class="consult-input" type="text" id="name" name="name" required>

                <label class="consult-label" for="phone">Контактный телефон:</label>
                <input class="consult-input" type="tel" id="phone" name="phone" required>

                <label class="consult-label" for="question">Ваш вопрос:</label>
                <textarea class="consult-input" id="question" name="question" rows="4" required></textarea>

                <div class="checkbox-container">
                    <label>
                        <input type="checkbox" name="consent" required>
                        Даю согласие на обработку персональных данных и подтверждаю, что согласен с политикой конфиденциальности.
                    </label>
                </div>

                <div class="checkbox-container">
                    <label>
                        <input type="checkbox" name="newsletter">
                        Хочу быть в курсе новостей и получать информацию о продуктах. Даю согласие на получение рекламных материалов.
                    </label>
                </div>

                <button type="submit" class="submit-button">Отправить</button>
            </form>
        </div>
        <div class="RK"><img src="../static/img/RK3D.png"></div>
    </div>
</div>