<h1 class="header1 center">Эксперты в управлении активами</h1>

<div class="block-center">
    <div class="center expert-container">
        <div class="block-expert">
            <h3 class="expert-title">Управляем "Лучшим* ПИФ акций"</h3>
            <img class="expert-image" src="../static/img/medal.png">
            <div class="expert-text">
                Создали и поддерживаем инфраструктуру фонда "Аленка-Капитал", который год за годом продолжает
                демонстрировать уникальные для рынка ПИФ акций результаты, завоевывая
                награды, как самый доходный фонд
            </div>
        </div>

        <div class="block-expert">
            <h3 class="expert-title">Структурируем управление недвижимостью через ПИФ</h3>
            <img class="expert-image"  src="../static/img/house.png">
            <div class="expert-text">
                Многолетний опыт работы с одним из крупнейших агентств недвижимости
                России по управлению недвижимостью через закрытые ПИФ
            </div>
        </div>

        <div class="block-expert">
            <h3 class="expert-title">Развиваем в России рынок хэдж-фондов</h3>
            <img class="expert-image" src="../static/img/diagram.png">
            <div class="expert-text">
                Воплощаем сложные стратегии хэдж-фондов полностью в российском контуре
                через модель интервальных ПИФ для квалифицированных инвесторов 
            </div>
        </div>

        <div class="block-expert">
            <h3 class="expert-title">Создаем эффективные модели защиты семейного капитала</h3>
            <img class="expert-image" src="../static/img/shield.png">
            <div class="expert-text">
                Под нашим управлением находится несколько фондов - аналогов зарубежных
                семейных трастов, решающие задачи сохранения конфиденциальности и
                защиты активов
            </div>
        </div>
    </div>
</div>